global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "node_exporter"
    static_configs:
      - targets: ["node_exporter:9100"]
        labels:
          service: "node_exporter"

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]
        labels:
          service: "cadvisor"

  - job_name: "smartctl_exporter"
    static_configs:
      - targets: ["smartctl_exporter:9902"]
        labels:
          service: "smartctl_exporter"

  - job_name: "django"
    metrics_path: /metrics
    static_configs:
      - targets: ["backend:8000"]
        labels:
          service: "builder-platform-backend"

  - job_name: "loki"
    static_configs:
      - targets: ["loki:3100"]
        labels:
          service: "loki"

  - job_name: "promtail"
    static_configs:
      - targets: ["promtail:9080"]
        labels:
          service: "promtail"

