global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "django"
    metrics_path: /metrics
    static_configs:
      - targets: ["backend:8000"]
        labels:
          service: "his-mind-backend"

  - job_name: "loki"
    static_configs:
      - targets: ["loki:3100"]
        labels:
          service: "loki"

  - job_name: "promtail"
    static_configs:
      - targets: ["promtail:9080"]
        labels:
          service: "promtail"
